.recent-notes {
  & > h3 {
    margin: 0.25rem 0 0 0;
    font-size: 0.9rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 0;

    & > li {
      margin: 0.5rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
        font-size: 0.9rem;
      }

      .section > .meta {
        margin: 0 0 0.25rem 0;
        opacity: 0.6;
        font-size: 0.8rem;
      }
    }
  }
}
